.headlogo {
  @apply block;
  background-image: url('/assets/images/logo.jpg');
  background-size: 226px 48px;
  height: 48px;
  width: 226px;
}

@media screen and (max-width: 639px) {
  .headlogo {
    background-size: 160px 34px;
    height: 34px;
    width: 160px;
  }
}

@media (prefers-color-scheme: dark) {
  .headlogo {
    background-image: url('/assets/images/logo-dark.jpg');
  }
}