.headlogo {
  background-image: url('/assets/images/logo-7ddb1f8f39.jpg');
  background-size: 226px 48px;
  display: block;
  height: 48px;
  width: 226px;
}

.headlogoSide {
  background-image: url('/assets/images/logo-7ddb1f8f39.png');
  background-size: 226px 48px;
  display: block;
  height: 48px;
  margin-inline: auto;
  width: 226px;
}

@media screen and (max-width: 639px) {
  .headlogo {
    background-size: 160px 34px;
    height: 34px;
    width: 160px;
  }
}

@media (prefers-color-scheme: dark) {
  .headlogo,
  .headlogoSide {
    background-image: url('/assets/images/logo-dark-7ddb1f8f39.jpg');
  }
}

:global(.dark) .headlogo,
:global(.dark) .headlogoSide {
  background-image: url('/assets/images/logo-dark-7ddb1f8f39.jpg');
}
